table {
  font-size: 15px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 1px;
}

table th {
  padding: 12px;
  vertical-align: middle;
  text-align: left;
  border-bottom: #999 1px solid;
}

table td {
  padding: 4px;
  vertical-align: middle;
  text-align: left;
  border: #999 0px solid;
}
