<link rel="stylesheet" href="{{ url_for('static', filename='css/pattern.css') }}" type="text/css">
<div id="base">
toriniku patterns</br>
base sentence is: とりの日パックまであとn日
</div>
<div id="main">
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>pattern</th>
      <th>created_by</th>
    </tr>
  </thead>
  <tbody>
    {% for k, v in patterns.items() %}
    <tr>
      <td>{{ k }}</td>
      <td>{{ v['pattern'] }} </td>
      <td>{{ v['created_by'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
